@import "tailwindcss";

@theme{
    --font-cooper: 'Cooper Black', sans-serif;
    --color-coffee: #7e5230;
    --color-coffee-dark: #492204;
}

@font-face {
    font-family: "Cooper Black";
    src: url("/fonts/COOPBL.TTF") format("truetype");
}
